/// @name containsModifier
/// @author Marcmintel
/// @link https://medium.com/@marcmintel/pushing-bem-to-the-next-level-with-sass-3-4-5239d2371321
/// @access private
/// @arg $selector
/// @return {boolean} возвращает true или false
@function containsModifier($selector) {

	/// @access private
	/// @param {string} $selector
	$selector: selectorToString($selector);

	/// @return {boolean} ---
	@if str-index($selector, $bem-modifier) { @return true; }
	@else { @return false; }

}

/// @name selectorToString
/// @author Marcmintel
/// @link https://medium.com/@marcmintel/pushing-bem-to-the-next-level-with-sass-3-4-5239d2371321
/// @access private
/// @arg $selector
/// @return {string} возвращает селектор
@function selectorToString($selector) {

	/// @access private
	/// @param {string} $selector
	$selector: inspect($selector);          // cast to string
	$selector: str-slice($selector, 2, -2); // remove brackets

	@return $selector;

}

/// @name getBlock
/// @author Marcmintel
/// @link https://medium.com/@marcmintel/pushing-bem-to-the-next-level-with-sass-3-4-5239d2371321
/// @access private
/// @arg $selector
/// @return {string} ---
@function getBlock($selector) {

	/// @access private
	/// @param $selector
	/// @param $modifierStart
	$selector     : selectorToString($selector);
	$modifierStart: str-index($selector, $bem-modifier) - 1;

	@return str-slice($selector, 0, $modifierStart);

}
