/// Модули
@use 'functions' as *;

/// @access public
/// @param {string} $bem-element - разделитель элемента
/// @param {string} $bem-modifier - разделитель мофификатора
$bem-element : '__' !default;
$bem-modifier: '--' !default;

/// @name Block
/// @author Marcmintel
/// @link https://medium.com/@marcmintel/pushing-bem-to-the-next-level-with-sass-3-4-5239d2371321
/// @access public
/// @arg $block
@mixin b($block) {
	.#{$block} {
		@content;
	}
}

/// @name Element
/// @author Marcmintel
/// @link https://medium.com/@marcmintel/pushing-bem-to-the-next-level-with-sass-3-4-5239d2371321
/// @access public
/// @arg $element - название элемента
@mixin e($element) {

	/// @access private
	/// @param {string} $selector
	$selector: &;

	/// @require {function} containsModifier from _functions.scss
	/// @arg $selector
	/// @arg $bem-modifier
	@if containsModifier($selector, $bem-modifier) {

		/// @access private
		/// @param {string} $block
		/// @arg $selector
		/// @arg $bem-modifier
		$block: getBlock($selector, $bem-modifier);

		@at-root {
			#{$selector} {
				#{$block + $bem-element + $element} {
					@content;
				}
			}
		}

	} @else {

		@at-root {
			#{$selector + $bem-element + $element } {
				@content;
			}
		}

	}

}

/// @name Modifier
/// @author Marcmintel
/// @link https://medium.com/@marcmintel/pushing-bem-to-the-next-level-with-sass-3-4-5239d2371321
/// @access public
/// @arg $modifier - название модификатора
@mixin m($modifier) {
	@at-root {
		#{&}#{ $bem-modifier + $modifier } {
			@content;
		}
	}
}
