/// * Импорт модулей
@use '../prefixer' as *;

/// * Переменные
/// @access public
/// @param {list} $prefixes_box-ordinal-group список префиксов для свойства
/// @param {list} $prefixes_order список префиксов для свойства
$prefixes_box-ordinal-group: webkit moz !default;
$prefixes_order: webkit !default;

/// * Миксин Order
/// @name order
/// @group Flex
/// @author Haba Kudzaev (rx1310)
/// @link https://github.com/rx1310
/// @require {mixin} prefixer
/// @param {int} $int [0] значение свойства `order`
@mixin order($int: 0) {

	@include prefixer(
		box-ordinal-group,
		$int + 1,
		$prefixes_box-ordinal-group,
		false
	);

	@include prefixer(
		order,
		$int,
		$prefixes_order
	);

	-ms-flex-order: $int;

}
